#root {
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.triangle {
  width: 400px;
  height: 400px;

  background: url(/triangle.png) center center no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.eye {
  background-color: #eee;
  width: 120px;
  height: 90px;
  border-radius: 50%;
  margin-top: 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);


  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.pupil {
  position: relative;
  margin: auto;
  background-color: red;
  border-radius: 50%;
}

